body {
	min-width: 20rem;
	font-size: 1rem;
	color: #000;
}

.shell {
	max-width: 67.6044rem;
	margin: 0 auto;

	/* Mobile */
	@media ($mobile) {
		width: 100%;
		padding: 0 2.2188rem;
	}
}

main {
	height: 100%;
	width: 100%;
	margin-top: 8.875rem;

	@media ($mobile) {
		margin-top: 5.8125rem;
	}
}