.btn {
    width: 10.625rem;
    height: 2.5rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    @include font-roboto(1.125rem, 500);
    text-transform: uppercase;

    @media ($mobile) {
        width: 8.5rem;
        height: 2.8125rem;
        font-size: 1rem;
    }

    &__primary {
        background-color: $yellow;
        color: $black;
        text-transform: uppercase;
    }

    &__black {
        background-color: $black;
        color: $yellow;
    }

    &__outline__black {
        border: 0.0625rem solid $black;
        color: $black;
        width: 17.0625rem;
        height: 3.5rem;
        border-radius: 0.125rem;
    }
}