.section__duvidas {
    width: 100%;
    padding: 6.625rem 0 10.9594rem;

    .content__duvidas {
        width: 100%;

        h1 {
            @include title-destaque;
        }

        .inner__duvidas {
            width: 100%;
            margin-top: 3.5313rem;

            details {
                background-color: $yellow;
                max-width: 55.875rem;
                width: 100%;
                margin: auto auto 1.25rem;
                padding: 1.75rem 3.3125rem 1.4375rem 2.6875rem;
                transition: all 1s !important;

                @media ($mobile) {
                    padding: 1.75rem 1.0313rem;
                    max-width: 17.5rem;
                }

                &[open] {
                    transition: all 2s !important;

                    summary {
                        padding-bottom: 0.8438rem;
                        border-bottom: 1px solid $black;

                        .icon {
                            img {
                                transform: rotate(-180deg);
                                transition: all .4s
                            }
                        }
                    }
                }

                summary::-webkit-details-marker {
                    display: none;
                }

                summary {
                    width: 100%;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;

                    h3 {
                        @include font-roboto(1.375rem, 700);
                        color: $black;
                        text-transform: uppercase;
                        line-height: 2.375rem;

                        @media ($mobile) {
                            font-size: 1rem;
                            line-height: 1.5rem;
                            max-width: 10.4375rem;
                        }
                    }

                    .icon {
                        position: absolute;
                        right: 0;
                        top: 0.625rem;
                        bottom: 0;
                        margin: auto;

                        @media ($mobile) {
                            top: 0;
                        }

                        img {
                            transform: rotate(0);
                            transition: all .4s
                        }
                    }
                }

                .content__details {
                    display: flex;
                    flex-direction: column;
                    min-height: 4rem;
                    width: 100%;
                    margin-top: 1.3438rem;

                    p {
                        @include font-roboto(0.875rem, 300);
                        color: $black;
                        line-height: 1.125rem;
                    }
                }
            }
        }
    }
}