.section__error {
    width: 100%;

    .content__error {
        width: 100%;
        height: 100%;
        padding: 9.375rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-bottom: 1.875rem;
            @include font-roboto(5rem, 500);
            color: $yellow;
            text-transform: uppercase;
        }

        h2 {
            @include font-roboto(1.75rem, 500);
            color: $black;
            margin-bottom: 1.875rem;
        }
    }
}