.section__nossas__ferramentas {
    width: 100%;
    background-color: $black;
    margin-bottom: 7.75rem;

    @media ($mobile) {
        margin-bottom: 5.0125rem;
    }

    .content__nossas__ferramentas {
        width: 100%;
        padding: 5.375rem 0 4.5625rem;

        @media ($mobile) {
            padding: 2.8125rem 0 5.0531rem;
        }

        h2 {
            @include font-roboto(2.125rem, 700);
            color: $yellow;
            text-transform: uppercase;
            text-align: center;

            @media ($mobile) {
                font-size: 1.75rem;
                line-height: 2.375rem;
            }
        }

        .inner__nossas__ferramentas {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 4rem;

            @media ($mobile) {
                margin-top: 3.5125rem;
            }

            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 257px;
                margin-bottom: 3.375rem;
                height: 10.6969rem;
                margin-right: 1rem;

                @media ($mobile) {
                    max-width: 8.5rem;
                    margin: auto auto 2.945rem;
                    width: 50%;
                }

                &:nth-child(4n) {
                    margin-right: 0;

                    @media ($mobile) {
                        margin-right: auto;
                    }
                }

                @media ($tabletMin) {
                    &:hover {
                        transition: all .4s;

                        .image {
                            .image__primary {
                                display: none;
                            }

                            .image__secondary {
                                display: block;
                            }
                        }

                        h3 {
                            color: $yellow;
                            transition: all .4s;
                        }
                    }
                }

                .image {
                    display: flex;
                    justify-content: center;
                    min-height: 120px;

                    @media ($mobile) {
                        height: 4rem;
                        max-height: 100%;
                        width: 5rem;
                    }

                    .image__primary {
                        display: block;
                    }

                    .image__secondary {
                        display: none;
                    }
                }

                h3 {
                    @include font-roboto(1.25rem, 700);
                    color: $white;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 1.6375rem;
                    max-width: 160px;

                    @media ($mobile) {
                        max-width: 100%;
                        font-size: 1.125rem;
                        margin-top: 0.7425rem;
                    }
                }
            }
        }
    }
}

.section__catalogo {
    width: 100%;
    background-image: url(http://eda.local/wp-content/uploads/2023/02/fundo-catalogo-desktop.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 467px;
    margin: 8.9688rem auto 6.125rem;

    @media ($mobile) {
        background-image: none;
        background-position: initial;
        background-repeat: initial;
        background-size: initial;
        height: 100%;
        margin: 5.9256rem 0 2.7994rem;
        border-bottom: 0.125rem solid $yellow;
    }

    .image__mobile {
        display: none;

        @media ($mobile) {
            display: block;
        }
    }

    .content__catalogo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        h2 {
            @include font-roboto(2.125rem, 700);
            color: $black;
            text-transform: uppercase;
            max-width: 29.75rem;
            line-height: 2.375rem;
            margin-bottom: 1.25rem;
            padding-top: 9.9063rem;

            @media ($mobile) {
                max-width: 19.5rem;
                margin: 2.5625rem auto 1rem;
                font-size: 1.375rem;
                text-align: center;
                line-height: 2rem;
                padding-top: 0;
            }
        }

        .text {
            width: 100%;
            max-width: 25.25rem;
            margin-bottom: 1.125rem;

            @media ($mobile) {
                max-width: 18.75rem;
                margin-bottom: 1rem;
            }

            p {
                @include font-roboto(1.5rem, 300);
                color: $black;
                line-height: 2rem;

                @media ($mobile) {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    text-align: center;
                }
            }
        }

        .btn__primary {
            width: 13.1875rem;
            height: 3.5rem;

            @media ($mobile) {
                width: 10.625rem;
                height: 2.8125rem;
                margin: auto auto 3.5438rem;
                font-size: 1rem;
            }
        }
    }
}

.section__representantes {
    width: 100%;
    background-image: url(http://eda.local/wp-content/uploads/2023/02/fundo-representantes-desktop.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24.8125rem;

    @media ($mobile) {
        background-image: url(http://eda.local/wp-content/uploads/2023/03/fundo-representantes-mobile.png);
        background-size: 100%;
        height: 37rem;
    }

    .content__representantes {
        display: flex;
        flex-direction: column;
        margin: auto 0 auto auto;
        width: 100%;
        max-width: 28.4375rem;

        @media ($mobile) {
            max-width: 17.5rem;
            margin: auto 0;
        }

        h2 {
            @include font-roboto(2.125rem, 700);
            color: $black;
            text-transform: uppercase;
            margin: 4.4375rem 0 1.25rem;

            @media ($mobile) {
                margin: 4.4069rem 0 1.25rem;
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }

        .text {
            width: 100%;
            margin-bottom: 2.25rem;

            p {
                @include font-roboto(1.5rem, 300);
                color: $black;
                line-height: 2rem;

                @media ($mobile) {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }

        .btn__black {
            height: 3.5rem;
            width: 12.6875rem;

            @media ($mobile) {
                width: 10.625rem;
                height: 2.8125rem;
                font-size: 1rem;
            }
        }
    }
}