.section__banner {
    width: 100%;
    margin-top: 1.5rem;

    .content__banner {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media ($mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .galeria {
            width: 100%;
            max-width: 38.875rem;
            display: flex;
            justify-content: space-between;

            @media ($mobile) {
                max-width: 100%;
                flex-wrap: wrap;
                order: 2;
                margin-top: 1.5rem;
            }

            .thumbs {
                display: flex;
                flex-direction: column;
                max-width: 5.75rem;
                max-height: 33.4375rem;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 0;
                }

                @media ($mobile) {
                    flex-direction: row;
                    max-width: 20.125rem;
                    order: 2;
                    justify-content: space-between;
                    width: 100%;
                    margin: auto;
                }

                .image {
                    max-width: 5.75rem;
                    width: 100%;
                    height: 6.375rem;
                    margin-bottom: 2.6875rem;
                    cursor: pointer;
                    border: 0.0625rem solid $yellow;

                    @media ($mobile) {
                        max-width: 3.6875rem;
                        height: 3.5rem;
                        margin-bottom: 1.5994rem;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    img {
                        max-width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .image__large {
                width: 100%;
                max-width: 32.125rem;
                height: 33.5625rem;
                border: 0.0625rem solid $yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                @media ($mobile) {
                    max-width: 20.125rem;
                    margin: auto auto 0.6875rem;
                    order: 1;
                    height: 17.0625rem;
                }

                .icon {
                    position: absolute;
                    bottom: 1.25rem;
                    right: 1.25rem;

                    @media ($mobile) {
                        width: 1.2869rem;
                        height: 1.2862rem;
                        right: 0.5625rem;
                        bottom: 0.5625rem;
                    }
                }

                img {
                    object-fit: cover;
                    max-width: 100%;
                }
            }
        }

        .aside {
            width: 100%;
            max-width: 26.1875rem;

            @media ($mobile) {
                max-width: 100%;
                margin-top: 2rem;
            }

            h1 {
                @include font-roboto(3.125rem, 700);
                color: $black;
                line-height: 3.125rem;
                max-width: 24.3125rem;
                margin-bottom: 1.4375rem;

                @media ($mobile) {
                    max-width: 19.125rem;
                    font-size: 1.75rem;
                    line-height: 2.375rem;
                    margin-bottom: 0.6875rem;
                    text-align: center;
                }
            }

            h2 {
                @include font-roboto(1.75rem, 700);
                color: $black;
                text-transform: uppercase;
                margin-bottom: 2.5rem;

                @media ($mobile) {
                    max-width: 18.125rem;
                    font-size: 1rem;
                    text-align: center;
                }
            }

            p {
                @include font-roboto(1.5rem, 300);
                color: $black;
                line-height: 2rem;
                margin-bottom: 2.6875rem;

                @media ($mobile) {
                    max-width: 18.125rem;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }

            .especificacoes {
                margin-bottom: 3rem;

                @media ($mobile) {
                    margin-bottom: 1.5rem;
                }

                li {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    line-height: 1.75rem;

                    @media ($mobile) {
                        line-height: 1.125rem;
                    }

                    h3 {
                        @include font-roboto(1.25rem, 700);
                        color: $black;
                        text-transform: uppercase;

                        @media ($mobile) {
                            font-size: 0.875rem;
                        }
                    }

                    p {
                        @include font-roboto(1.25rem, 300);
                        color: $black;
                        padding: 0;
                        margin: 0 0 0 0.5rem;

                        @media ($mobile) {
                            font-size: 0.875rem;
                        }
                    }
                }
            }

            .link {
                @include font-roboto(1.25rem, 300);
                color: $black;
                text-decoration: underline;

                @media ($mobile) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.section__imagens {
    width: 100%;
    margin: 5.5156rem 0 4.75rem;

    @media ($mobile) {
        margin: 0 auto 4.0231rem;
    }

    .content__imagens {
        width: 100%;

        .image {
            width: 100%;
            margin-bottom: 1.625rem;
            position: relative;

            @media ($mobile) {
                margin-bottom: 0.425rem;
            }

            .icon {
                position: absolute;
                bottom: 1.25rem;
                right: 1.25rem;

                @media ($mobile) {
                    width: 1.2869rem;
                    height: 1.2869rem;
                    right: 0.5625rem;
                    bottom: 0.5625rem;
                }
            }

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

.section__descricao__produto {
    width: 100%;

    .content__descricao__produto {
        width: 100%;

        h2 {
            @include font-roboto(1.75rem, 700);
            color: $black;
            text-transform: uppercase;
            margin-bottom: 2.9844rem;

            @media ($mobile) {
                font-size: 1.25rem;
                margin-bottom: 1.035rem;
            }
        }

        .inner__descricao__produto {
            display: flex;
            max-height: 46.9375rem;
            min-height: 27.9375rem;
            flex-direction: column;
            flex-wrap: wrap;

            @media ($mobile) {
                max-height: 100%;
            }

            p {
                @include font-roboto(1.5rem, 300);
                color: $black;
                position: relative;
                margin-left: 2.5rem;
                margin-bottom: 1.5rem;
                max-width: 25.1875rem;

                @media ($mobile) {
                    font-size: 1rem;
                    max-width: 100%;
                    line-height: 1.5rem;
                    margin-bottom: .5rem;
                    margin-left: 1.5rem;
                }

                &::before {
                    content: '';
                    width: 0.75rem;
                    height: 0.75rem;
                    background-color: $black;
                    position: absolute;
                    left: -2.5rem;
                    top: 0;
                    bottom: 0;
                    margin: auto;

                    @media ($mobile) {
                        width: 0.4375rem;
                        height: 0.4375rem;
                        margin-left: 1rem;
                        top: -0.3125rem;
                    }
                }
            }
        }
    }
}

.section__informacoes__produto {
    width: 100%;
    margin: 5.5625rem 0 4.75rem;

    @media ($mobile) {
        margin: 4.0025rem 0;
    }

    .content__informacoes__produto {
        width: 100%;

        h2 {
            @include font-roboto(1.75rem, 700);
            color: $black;
            text-transform: uppercase;
            margin-bottom: 2.0469rem;

            @media ($mobile) {
                font-size: 1.25rem;
                line-height: 1.75rem;
                max-width: 13.25rem;
                margin-bottom: 0.9375rem;
            }
        }

        .inner__informacoes__produto {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .row {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0.875rem 2.0625rem 1rem;
                background-color: $background;

                @media ($mobile) {
                    padding: 1.25rem 0.8125rem;
                    justify-content: space-between;
                }

                &:nth-child(even) {
                    background-color: $white
                }

                h5 {
                    @include font-roboto(1.25rem, 700);
                    color: $black;
                    width: 100%;
                    word-break: break-word;
                    max-width: 8.75rem;
                    text-align: left;
                    letter-spacing: 0.0275rem;
                    margin-right: 4rem;

                    @media ($mobile) {
                        font-size: 0.875rem;
                        color: $text-dark;
                        margin-right: 0;
                        max-width: 34%;
                    }
                }

                p {
                    @include font-roboto(1.25rem, 300);
                    color: $black;

                    @media ($mobile) {
                        font-size: 0.875rem;
                        color: $text-dark;
                        max-width: 45%;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.section__veja {
    width: 100%;
    margin-bottom: 8.1913rem;

    @media ($mobile) {
        margin-bottom: 3.9906rem;
    }

    .content__veja {
        width: 100%;

        h2 {
            @include title-destaque;
            text-align: center;
        }

        .inner__veja {
            margin-top: 2.7931rem;

            @media ($mobile) {
                margin-top: 1.9806rem;
            }

            .produto {
                width: 11.9113rem;
                height: 17.8319rem;

                @media ($mobile) {
                    width: 11.9113rem;
                    height: 17.1444rem;
                    margin: auto auto 2rem;
                }

                a {
                    width: 100%;
                    height: 100%;

                    .image {
                        max-width: 100%;
                        height: 13.6862rem;
                        border: 0.0625rem solid $yellow;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media ($mobile) {
                            max-width: 11.9113rem;
                            height: 13.6862rem;
                        }

                        img {
                            object-fit: cover;
                        }
                    }

                    .description {
                        margin-top: 1.145rem;

                        @media ($mobile) {
                            margin-top: 1.8325rem;
                        }

                        h3 {
                            @include font-roboto(1.25rem, 500);
                            color: $black;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                }
            }

            .owl-nav {
                position: absolute;
                top: 40%;
                display: flex;
                width: 100%;
                justify-content: space-between;

                @media ($tabletMin) and ($tabletMax) {}

                .owl-prev {
                    position: relative;
                    left: -2.5rem;

                    @media ($mobile) {
                        left: .3rem;
                    }

                    span {
                        display: none;
                    }

                    &::before,
                    &::after {
                        content: '';
                        width: 1.5rem;
                        height: 0.25rem;
                        background-color: $yellow;
                        position: absolute;
                        transform: rotate(-50deg);
                        top: -0.4875rem;
                    }

                    &::after {
                        transform: rotate(50deg);
                        top: 0.4875rem;
                    }
                }

                .owl-next {
                    position: relative;

                    @media ($mobile) {
                        right: 2rem;
                    }

                    span {
                        display: none;
                    }

                    &::before,
                    &::after {
                        content: '';
                        width: 1.5rem;
                        height: 0.25rem;
                        background-color: $yellow;
                        position: absolute;
                        transform: rotate(50deg);
                        top: -0.5875rem;
                    }

                    &::after {
                        transform: rotate(-50deg);
                        top: 0.4875rem;
                    }
                }
            }
        }
    }
}