.section__banner {
    width: 100%;

    .content__banner {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .galeria {
            width: 100%;
            max-width: 38.875rem;
            display: flex;
            justify-content: space-between;

            .thumbs {
                display: flex;
                flex-direction: column;
                max-width: 5.75rem;

                .image {
                    max-width: 5.75rem;
                    width: 100%;
                    height: 6.375rem;
                    margin-bottom: 2.6875rem;
                    cursor: pointer;
                    border: 0.0625rem solid $yellow;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    img {
                        max-width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .image__large {
                width: 100%;
                max-width: 32.125rem;
                height: 33.5625rem;
                border: 0.0625rem solid $yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .icon {
                    position: absolute;
                    bottom: 1.25rem;
                    right: 1.25rem;
                }

                img {
                    object-fit: cover;
                    height: 100%;
                    max-width: 100%;
                }
            }
        }

        .aside {
            width: 100%;
            max-width: 26.1875rem;

            h1 {
                @include font-roboto(3.125rem, 700);
                color: $black;
                line-height: 3.125rem;
                max-width: 24.3125rem;
                margin-bottom: 1.4375rem;
            }

            h2 {
                @include font-roboto(1.75rem, 700);
                color: $black;
                text-transform: uppercase;
                margin-bottom: 2.5rem;
            }

            p {
                @include font-roboto(1.5rem, 300);
                color: $black;
                line-height: 2rem;
                margin-bottom: 2.6875rem;
            }

            .especificacoes {
                margin-bottom: 3rem;

                li {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    line-height: 1.75rem;

                    h3 {
                        @include font-roboto(1.25rem, 700);
                        color: $black;
                        text-transform: uppercase;
                    }

                    p {
                        @include font-roboto(1.25rem, 300);
                        color: $black;
                        padding: 0;
                        margin: 0 0 0 0.5rem;
                    }
                }
            }

            .link {
                @include font-roboto(1.25rem, 300);
                color: $black;
                text-decoration: underline;
            }
        }
    }
}

.section__imagens {
    width: 100%;
    margin: 5.5156rem 0 4.75rem;

    .content__imagens {
        width: 100%;

        .image {
            width: 100%;
            margin-bottom: 1.625rem;
            position: relative;

            .icon {
                position: absolute;
                bottom: 1.25rem;
                right: 1.25rem;
            }

            img {
                object-fit: cover;
            }
        }
    }
}

.section__descricao__produto {
    width: 100%;

    .content__descricao__produto {
        width: 100%;

        h2 {
            @include font-roboto(1.75rem, 700);
            color: $black;
            text-transform: uppercase;
            margin-bottom: 2.9844rem;
        }

        .inner__descricao__produto {
            display: flex;
            max-height: 27.9375rem;
            flex-direction: column;
            flex-wrap: wrap;

            p {
                @include font-roboto(1.5rem, 300);
                color: $black;
                position: relative;
                margin-left: 2.5rem;
                margin-bottom: 1.5rem;
                max-width: 25.1875rem;

                &::before {
                    content: '';
                    width: 0.75rem;
                    height: 0.75rem;
                    background-color: $black;
                    position: absolute;
                    left: -2.5rem;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

.section__informacoes__produto {
    width: 100%;
    margin: 5.5625rem 0 4.75rem;

    .content__informacoes__produto {
        width: 100%;

        h2 {
            @include font-roboto(1.75rem, 700);
            color: $black;
            text-transform: uppercase;
            margin-bottom: 2.0469rem;
        }

        .inner__informacoes__produto {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .row {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0.875rem 2.0625rem 1rem;
                background-color: $background;

                &:nth-child(even) {
                    background-color: $white
                }

                h5 {
                    @include font-roboto(1.25rem, 700);
                    color: $black;
                    width: 100%;
                    word-break: break-word;
                    max-width: 8.75rem;
                    text-align: left;
                    letter-spacing: 0.0275rem;
                    margin-right: 4rem;
                }

                p {
                    @include font-roboto(1.25rem, 300);
                    color: $black;
                }
            }
        }
    }
}

.section__veja {
    width: 100%;
    margin-bottom: 8.1913rem;

    .content__veja {
        width: 100%;

        h2 {
            @include title-destaque;
            text-align: center;
        }

        .inner__veja {
            margin-top: 2.7931rem;

            .produto {
                width: 11.9113rem;
                height: 17.8319rem;

                a {
                    width: 100%;
                    height: 100%;

                    .image {
                        max-width: 100%;
                        height: 13.6862rem;
                        border: 0.0625rem solid $yellow;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            object-fit: cover;
                        }
                    }

                    .description {
                        margin-top: 1.145rem;

                        h3 {
                            @include font-roboto(1.25rem, 500);
                            color: $black;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                }
            }

            .owl-nav {
                position: absolute;
                top: 40%;
                display: flex;
                width: 100%;
                justify-content: space-between;

                @media ($tabletMin) and ($tabletMax) {}

                .owl-prev {
                    position: relative;
                    left: -2.5rem;

                    @media ($mobile) {
                        left: -1rem;
                    }

                    span {
                        display: none;
                    }

                    &::before,
                    &::after {
                        content: '';
                        width: 1.5rem;
                        height: 0.25rem;
                        background-color: $yellow;
                        position: absolute;
                        transform: rotate(-50deg);
                        top: -0.4875rem;
                    }

                    &::after {
                        transform: rotate(50deg);
                        top: 0.4875rem;
                    }
                }

                .owl-next {
                    position: relative;

                    @media ($mobile) {
                        right: 1rem;
                    }

                    span {
                        display: none;
                    }

                    &::before,
                    &::after {
                        content: '';
                        width: 1.5rem;
                        height: 0.25rem;
                        background-color: $yellow;
                        position: absolute;
                        transform: rotate(50deg);
                        top: -0.5875rem;
                    }

                    &::after {
                        transform: rotate(-50deg);
                        top: 0.4875rem;
                    }
                }
            }
        }
    }
}