.trocar__modelo {
    position: absolute;
    top: 13.5rem;
    right: calc(50% - 34rem);

    @media ($mobile) {
        right: initial;
        position: relative;
        top: initial;
        margin-top: 1.1875rem;
        display: flex;
        justify-content: center;
    }

    .btn__primary {
        width: 13.8125rem;
        height: 3.5rem;

        @media ($mobile) {
            height: 2.4375rem;
        }
    }

    .content__modelos {
        background-color: $white;
        position: absolute;
        top: 4rem;
        right: 0;
        width: 13.8125rem;
        display: flex;
        flex-direction: column;
        opacity: 0;
        height: 0%;
        align-items: center;
        max-height: 39.5625rem;
        overflow-y: auto;
        transition: all .4s;

        @media ($mobile) {
            left: 0;
            margin: auto;
            z-index: 9;
        }

        &.active {
            height: 39.5625rem;
            opacity: 1;
            transition: all .4s;
        }

        .produto {
            max-width: 6.6875rem;
            height: 8.75rem;
            margin-bottom: 4rem;

            .image {
                width: 6.6875rem;
                height: 7.25rem;
                border: 0.0625rem solid $yellow;
            }

            .description {
                width: 100%;
                margin-top: 1rem;

                h3 {
                    @include font-roboto(0.875rem, 700);
                    color: $black;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.section__dados {
    width: 100%;
    padding-top: 2.625rem;

    @media ($mobile) {
        padding-top: 2rem;
    }

    .content__dados {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media ($mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .image {
            max-width: 32.125rem;
            height: 30.75rem;
            border: 0.0625rem solid $yellow;
            position: relative;

            @media ($mobile) {
                max-width: 17.5rem;
                height: 17.0625rem;
                order: 2;
                margin-top: 2rem;
            }

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            .icon {
                position: absolute;
                bottom: 1.25rem;
                right: 1.25rem;

                @media ($mobile) {
                    right: 0.6875rem;
                    bottom: 0.5625rem;
                    width: 1.2869rem;
                }
            }
        }

        .aside__bar {
            max-width: 28.4375rem;

            @media ($mobile) {
                max-width: 100%;
                order: 1;
            }

            h1 {
                @include font-roboto(3.125rem, 700);
                color: $black;
                line-height: 3.125rem;
                margin-bottom: 1.4375rem;
                max-width: 24.3125rem;

                @media ($mobile) {
                    font-size: 1.75rem;
                    line-height: 2.375rem;
                    margin-bottom: 0.6875rem;
                    max-width: 100%;
                    text-align: center;
                }
            }

            h2 {
                @include font-roboto(1.75rem, 700);
                color: $black;
                text-transform: uppercase;
                margin-bottom: 2.5rem;

                @media ($mobile) {
                    font-size: 1rem;
                    text-align: center;
                    margin-bottom: 2rem;
                }
            }

            .text {
                width: 100%;
                margin-bottom: 3rem;

                @media ($mobile) {
                    max-width: 17.5rem;
                    margin-bottom: 1.25rem;
                }

                p {
                    @include font-roboto(1.5rem, 300);
                    color: $black;
                    line-height: 2rem;

                    @media ($mobile) {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                }
            }

            .link {
                @include font-roboto(1.5rem, 300);
                color: $black;
                text-decoration: underline;

                @media ($mobile) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.section__dimensoes {
    width: 100%;

    .content__dimensoes {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media ($mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .description {
            margin-top: 6.2969rem;
            width: 100%;
            max-width: 29.7188rem;

            @media ($mobile) {
                max-width: 17.5rem;
                margin-top: 2.9944rem;
            }

            h2 {
                @include font-roboto(1.875rem, 700);
                color: $black;
                text-transform: uppercase;
                padding-bottom: 0.7344rem;
                position: relative;
                width: 100%;

                @media ($mobile) {
                    font-size: 1.25rem;
                    padding-bottom: 1.0369rem;
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 0.1875rem;
                    background-color: $yellow;
                    position: absolute;
                    bottom: 0;
                }
            }

            .medidas {
                margin-top: 2.3294rem;
                display: flex;

                @media ($mobile) {
                    margin-top: 2rem;
                    flex-wrap: wrap;
                }

                .medida__externa {
                    width: 100%;
                    max-width: 16.0625rem;
                    height: 8.875rem;
                    margin-right: 1rem;

                    @media ($mobile) {
                        max-width: 100%;
                        height: 8.2175rem;
                        margin-right: 0;
                        margin-bottom: 1.7712rem;
                    }

                    h3 {
                        @include font-roboto(1.375rem, 700);
                        color: $black;
                        text-transform: uppercase;
                        margin-bottom: 2rem;

                        @media ($mobile) {
                            font-size: 0.9375rem;
                        }
                    }

                    .externa {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;

                        p {
                            @include font-roboto(1.5rem, 300);
                            color: $black;
                            line-height: 2rem;

                            @media ($mobile) {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .medida__interna {
                    width: 100%;
                    max-width: 14.25rem;

                    @media ($mobile) {
                        max-width: 100%;
                    }

                    h3 {
                        @include font-roboto(1.375rem, 700);
                        color: $black;
                        text-transform: uppercase;
                        margin-bottom: 2rem;

                        @media ($mobile) {
                            font-size: 0.9375rem;
                        }
                    }

                    .internas {
                        width: 100%;

                        .text {
                            display: flex;

                            h3 {
                                @include font-roboto(1.25rem, 700);
                                color: $black;
                                margin-right: 0.625rem;
                                text-transform: initial;

                                @media ($mobile) {
                                    font-size: 0.875rem;
                                }
                            }

                            p {
                                @include font-roboto(1.5rem, 300);
                                color: $black;

                                @media ($mobile) {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .image {
            max-width: 28.4375rem;
            width: 100%;
            border: 0.125rem solid $yellow;
            display: flex;
            justify-content: center;
            align-items: center;

            @media ($mobile) {
                max-width: 17.5rem;
            }

            img {
                object-fit: cover;

                @media ($mobile) {
                    width: 100%;
                }
            }
        }
    }
}

.section__descricao {
    width: 100%;
    margin: 4rem auto 7.5rem;

    @media ($mobile) {
        margin: 4.5rem auto 4.0137rem;
    }

    .content__descricao {
        width: 100%;

        @media ($mobile) {
            max-width: 17.5rem;
            margin: auto;
        }

        h2 {
            @include font-roboto(2.125rem, 700);
            text-transform: uppercase;
            color: $black;
            margin-bottom: 1.9375rem;

            @media ($mobile) {
                font-size: 1.25rem;
                margin-bottom: 1.0237rem;
            }
        }

        .text {
            width: 100%;

            p {
                @include font-roboto(1.5rem, 300);
                color: $black;
                line-height: 2rem;

                @media ($mobile) {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

.section__informacoes__produto {
    width: 100%;

    .content__informacoes {
        width: 100%;

        h2 {
            @include font-roboto(2.125rem, 700);
            text-transform: uppercase;
            color: $black;
            margin-bottom: 1.9219rem;

            @media ($mobile) {
                font-size: 1.25rem;
                max-width: 13.25rem;
                margin: auto 0 0.9831rem;
            }
        }

        .inner__informacoes {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4.5rem;

            @media ($mobile) {
                margin-bottom: 2.5169rem;
            }

            .row {
                width: 100%;
                padding: 0.875rem 0 1rem;
                background-color: $background;
                padding-left: 2.375rem;
                display: flex;
                align-items: center;

                @media ($mobile) {
                    padding-left: 0.8125rem;
                    padding-right: 0.8125rem;
                }

                &:nth-child(even) {
                    background-color: transparent;
                }

                .title {
                    width: 100%;
                    max-width: 8.125rem;
                    margin-right: 6.25rem;

                    @media ($mobile) {
                        margin-right: 1rem;
                        max-width: 50%;
                    }

                    h3 {
                        @include font-roboto(1.25rem, 700);
                        color: $black;

                        @media ($mobile) {
                            font-size: 0.875rem;
                            color: $text-dark;
                            max-width: 90%;
                        }
                    }
                }

                p {
                    @include font-roboto(1.25rem, 300);
                    color: $black;
                    line-height: 2rem;
                    max-width: 28rem;

                    @media ($mobile) {
                        font-size: 0.875rem;
                        color: $text-dark;
                        max-width: 47%;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 7.4794rem;

        @media ($mobile) {
            margin-bottom: 4.5313rem;
        }

        .btn__primary {
            width: 21.75rem;
            height: 3.5rem;

            @media ($mobile) {
                width: 19.0625rem;
                height: 2.8125rem;
                font-size: 1rem;
            }
        }
    }
}